$border-radius-base: 0;

@import 'bower_components/bootstrap-sass/assets/stylesheets/bootstrap';

.question {
	text-align: center;
}

.answer {
	text-align: center;
}

@media (min-width: 768px) {
	.question {
		font-size: 64px;
	}
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
